/* body {
  background-color:white;
}

.container{
  background-color: red;
} */

.nav-fill{
  background-color:#ccf6f2;
}

.jumbotron{
  background: url('../images/woman-leaning-on-table-with-various-ingredients-and-a-diet-planning-book.jpg') no-repeat;
  background-size:cover;
  padding-top: 12%;
  padding-bottom: 12%;
}

#run2{
  position:relative;
  left:100px;
  top:-300px;
}
.jumbotron2{
  background: url('../images/bg2.jpg') no-repeat;
  background-size:cover;
  padding-top: 7%;
  padding-bottom: 7%;
}

.btn-md {
    padding: 10px 50px 10px;
    margin:20px;
    font-size: 20px;
    border-radius: 10px;
}
.section5{
  background-color:grey;
  height:400px;
}
#f1 {
  text-align: center;
}

#f2 {
  text-align: center;
}

  /* #run2{
  display:none;
} */

/* .jumbotron a{
  display:none;
}
.active {
  display:none;
} */
