/* body {
  background-color:white;
}

.container{
  background-color: red;
} */

.nav-fill{
  background-color:#ccf6f2;
}

.jumbotron{
  background-image: url("/users/leonredman/Documents/transfer2/Archive2/projects/Dietseekers/images/bg2.jpg");
  background-size:cover;
  padding-top: 12%;
  padding-bottom: 12%;
}

#run2{
  position:relative;
  left:100px;
  top:-300px;
}
.jumbotron2{
  background-image: url("/users/leonredman/Documents/transfer2/Archive2/projects/Dietseekers/images/discoverbg.jpg");
  background-size:cover;

  padding-top: 7%;
  padding-bottom: 7%;
  -webkit-background-size: cover;
  -moz-background-size: cover;

  -o-background-size: cover;
}

.btn-md {
    padding: 10px 100px;
    font-size: 20px;
    border-radius: 10px;
}

  /* #run2{
  display:none;
} */

/* .jumbotron a{
  display:none;
}
.active {
  display:none;
} */
