/* body {
  background-color:white;
}

.container{
  background-color: red;
} */

.nav-fill{
  background-color:#ccf6f2;
}

.jumbotron{
  background: url('../images/nutrition-hero.jpg') no-repeat;
  background-size:cover;
  padding-top: 12%;
  padding-bottom: 12%;
}

.run2-hidden {
  display:none;
}

.hide-element {
  display: none;
}

#run2{
  position:relative;
  left:100px;
  width:400px;
  background-color:#28a745;
  padding: 30px;
}
.jumbotron2{
  background: url('../images/bg2.jpg') no-repeat;
  background-size:cover;
  padding-top: 7%;
  padding-bottom: 7%;
}

.btn-md {
    padding: 10px 50px 10px;
    margin:20px;
    font-size: 20px;
    border-radius: 10px;
}
.section5{
  background-color:white;
  height:400px;
}
#f1 {
  display:flex;
  flex-direction: column;
  text-align: center;
}

#f2 {
  display:flex;
  flex-direction: column;
  text-align: center;
}

  /* #run2{
  display:none;
} */

/* .jumbotron a{
  display:none;
}
.active {
  display:none;
} */
